.game-tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

.game-tbl-left {
  margin: auto;
}

.game-tbl-right {
  margin: auto;
}

.half {
  float: left;
  width: 100%;
  padding: 0 8px;
}

.game-tbl-cell-child td > div, 
.game-tbl-cell-child th > div {
  min-height: 32px;
  min-width: 32px;
  max-height: 48px;
  max-width: 48px;
  padding: 0px;
  position: relative;
}

.game-tbl-cell-child-sz td > div, 
.game-tbl-cell-child-sz th > div {
  height: 8vw;
  width: 8vw;
}

@media screen and (min-width: 830px) {
  .game-tbl-left {
    margin: 0px 0px 0px auto;
  }
  
  .game-tbl-right {
    margin: 0px auto 0px 0px;
  } 
  
  .half {
    width: 49.99999%;
  } 
  
  .game-tbl-cell-child-sz td > div, 
  .game-tbl-cell-child-sz th > div {
    height: 4vw;
    width: 4vw;
  }             
}

.game-tbl-brd td, .game-tbl-brd th {
  border-left: 1px solid #ddd;
}

.game-tbl-brd tr {
  border-bottom: 1px solid #ddd;
}

.game-tbl-cell td, .game-tbl-cell th {
  padding: 0px;
}

.game-tbl-hdr {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.padding-8 {
  padding: 8px;
}

.margin-0 {
  margin: 0px;
}

.bckgr-img {
  background-image: url('../img/ship_w.png');
  background-repeat: no-repeat;
  background-position: left; 
  background-size: contain;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.game-cell-drop-en {
  background-color: rgba(0, 255, 0, 0.2);
}

.game-cell-drop-dis {
  background-color: rgba(255, 0, 0, 0.2);
}

.cursor-none {
  cursor: none;
}

.crosshairs {
  fill: red;
  fill-opacity: 0.2;
  position: absolute;
}

.ship {
  fill: rgb(0, 0, 255);
  fill-opacity: 0.2;
  width: 100%;
  height: 100%;
  /*z-index: 3;*/
}

.ship-d {
  fill: rgb(128, 128, 128);
  fill-opacity: 0.2;
  /*z-index: 3;*/
  position: absolute;
  top: -1000px;
}

.ship-1w, .ship-1h {
  height: 100%;
  width: 100%;
}

.ship-2h {
  height: 200%;
  width: 100%;
}

.ship-3h {
  height: 300%;
  width: 100%;
}

.ship-4h {
  height: 400%;
  width: 100%;
}

.ship-2w {
  height: 100%;
  width: 200%;
}

.ship-3w {
  height: 100%;
  width: 300%;
}

.ship-4w {
  height: 100%;
  width: 400%;
}

.flame-animation {
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration: 3ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;        
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}

.container-w {
  position: absolute;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
}

.container-w .delay1 {
  animation: waves 1.5s linear .1s;
}
.container-w .delay2 {
  animation: waves 1.5s linear .4s forwards;
}
.container-w .delay3 {
  animation: waves 1.5s linear .7s forwards;
}
.container-w .delay4 {
  animation: waves 1.5s linear 1.2s forwards;
}

.circle-w {
  fill: #dde;
}

@keyframes waves {
  0% {
    transform: scale(1);
    transform-origin:center;
    fill-opacity: 1;
  }
  
  99% {
    transform: scale(8);
    transform-origin:center;
    fill-opacity: 0;
  }

  100% {
    transform: scale(0);
    transform-origin:center;
    fill-opacity: 0;
  }
}

.help {
  width: 100%;
}